@import "src/scss/_breakpoints";
.carouselFullWidth {
  .carousel--navButtons__container {
    .carousel--navButtons {
      background: var(--primary-color, #1976d2);
    }
  }
  .carousel--indicator__container {
    position:absolute;
    bottom: 20px;
    z-index: 998;
  }
  .carousel--indicator__button {
    color: var(--primary-color, #1976d2);
    transform: scale(1.4);
    opacity: 0.5;
    background: rgba(255,255,255,0.7);
    margin-right:15px
  }
  .carousel--indicator__button-active {
    opacity: 1;
    background: rgba(255,255,255,1)
  }

}