:root {
  --primary-color: #1976d2;
  --section-title-color: #243e63;
  --paragraph-color: #7C8BA1;
  --light: #f8f9fa;
  --dark: #343a40;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
}

