.theme-color-violet  {
    --primary-color: #6A0DAD;
    --section-title-color: #243e63;
    --paragraph-color: #7C8BA1;
    --success: #28a745;
    --danger: #dc3545;
    --warning: #ffc107;
    --light: #f8f9fa;
    --dark: #343a40;
}
