@import "src/scss/breakpoints";

.Faqs--container {
  .Faqs--grid {
    .Faqs--gridItem__image {
      width:100%;
      img {
        width:100%;
        object-fit: cover;
        display: none;
        @media (min-width: $breakpoint-md) {
          width: 90%;
          display: block;
        }
      }
    }
    .Faqs--gridItem__contents {
      display: flex;
      margin-top:40px;
      .Faqs--gridItem__contents-container {
        margin-top: auto;
        margin-bottom: auto;
        .Accordion {
          .Accordion-container {
            @media (max-width: $breakpoint-sm) {
              border: 2px solid rgb(226, 232, 240);
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}