@import "src/scss/_breakpoints";

.SmallTitle.priority {
  color : var(--primary-color, #1976d2);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}